extends layout.pug

block content
    h1 Error submitting book
    form
        h2.error Oooops!
        ul.error
            each value in error.errors
                li= value.message
        p
    if path = "/book/new"
        include new_book
    else 
        include update-book.pug