extends layout.pug

block content
    h1 New Book
    form
        h2.error Oooops!
        ul.error
            li Author is required
            li Name is required
        p
            include new_book